@media (min-width: 576px) {

    td>a,
    td>form {
        display: inline-block;
        width: 80;
        margin-right: 0.5rem;
    }
}

@media (max-width: 575.98px) {

    td>a,
    td>form {
        display: block;
        width: 80%;
        margin-bottom: 0.5rem;
    }
}
